.DS_Store
code/.DS_Store
code/.ipynb_checkpoints/
data_derived/.DS_Store
figures/.DS_Store
data_derived/avian_vs_mammalian/cleaned_csvs/*
data_derived/avian_vs_mammalian/SNV_list.xlsx
data_derived/avian_vs_mammalian/avian_vs_mammalian_SNVs_for_pandas.csv
data_derived/avian_vs_mammalian/SNV_list.csv